.teacher-container{
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: gray;
}

.updateBtn{
  margin-left: 10px;
}

.AddStudentForm {
  max-width: 20rem;
}
.AddStudentForm input {
  margin-bottom: 10px;
}